<div>
	<div>
		<ul>
			<li ng-repeat="(key,value) in vm.wizardSteps" ng-click="vm.goTo(key)" ng-class="{'btn btn-success': key == vm.currentStep, 'btn btn-primary': key !== vm.currentStep}">
				{{value.stepName}}
			</li>
		</ul>
	</div>
	<div>
		<div ng-if="vm.currentStep == 1">Step one directive.</div>
		<div ng-if="vm.currentStep == 2">Step two directive.</div>
	</div>
	<div>
		<button type="button" class="btn btn-info" ng-click="vm.movePrevious()">Previous</button>
		<button type="button" class="btn btn-info" ng-click="vm.moveNext()">Next</next>
	</div>
</div>
	